[Desktop Entry]
Name=Drives
Exec=cosmic-ext-applet-drives
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=COSMIC
Icon=dev.cappsy.CosmicExtAppletDrives-symbolic
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-CosmicShrinkable=true
