[Desktop Entry]
Name=Drives
Name[cs]=Disky
Name[pl]=Dyski
Exec=cosmic-ext-applet-drives
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=COSMIC
Icon=dev.cappsy.CosmicExtAppletDrives-symbolic
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
Keywords[pl]=Folder;Katalog;Menadżer;
MimeType=inode/directory;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-CosmicShrinkable=true
